<div class="box-footer">
    <div class="box-footer-content">
        <div class="box-footer-box">
            <img class="box-footer-box-logo" alt="Responsive image"
                 src="{{ asset('assets/images/logo.png') }}"> <br>
            <a class="box-footer-box-linka" href="tel:+33787953786">06 87 80 57 18</a> <br>
            <a class="box-footer-box-linka" href="mailto:johan27000@gmail.com">rgbn-stephanegicquel@orange.fr</a> <br>
            <p class="box-footer_box-pa"> 5 Rue du Bout aux plaids <br>
                27930 Sacquenville</p> <br>
            <a href=""><img class="img-fluid " alt="Responsive image, logo facebook"
                            src="{{ asset('assets/images/facebook.png') }}"></a>
        </div>
    </div>
    <div class="box-footer-content">
        <div class="box-footer-box">
            <br>
            <h2 class="box-footer-box-title">Liens rapides</h2>
            <img class="box-footer-box-line" alt="Responsive image"
                 src="{{ asset('assets/images/line.png') }}"> <br>
            <p class="box-footer_box-p">
                <a class="box-footer_box-p-link" href=""> A propos</a>  <br> <br>
                <a class="box-footer_box-p-link" href=""> Services</a>  <br> <br>
                <a class="box-footer_box-p-link" href=""> Nos réalisations</a>  <br> <br>
                <a class="box-footer_box-p-link" href=""> Contact</a>  <br> <br> <br>
                {% if app.user %}
                    <a class="box-footer_box-p-link" href="{{ path('app_logout') }}">Déconnexion</a>
                {% else %}
                <a class="box-footer_box-p-link" target="_blank" href="{{ path('app_login') }}">Se connecter</a>
                {% endif %}
            </p>
        </div>
    </div>
    <div class="box-footer-content">
        <div class="box-footer-box">
            <h2 class="box-footer-box-title">Nos partenaires</h2>
            <img class="box-footer-box-line" alt="Responsive image"
                 src="{{ asset('assets/images/line.png') }}"> <br>
            <p class="box-footer_box-p">
                {% for partners in partner %}
                <a class="box-footer_box-p-link" href="{{ partners.link }}" target="_blank"> {{ partners.name }}</a> <br> <br>
                {% endfor %}

            </p>
        </div>
    </div>
</div>
</main>
