<div class="box-partenaire">
    <h1 class="box-partenaire-title">Nos partenaires</h1>
<div class="body-slide">
    <div class="slider">
        <div class="slide-track">
            <div class="slide">
                <img src="{{ asset('assets/images/partner1.png') }}" height="200" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="{{ asset('assets/images/partner2.png') }}" height="200" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="{{ asset('assets/images/partner3.png') }}" height="200" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="{{ asset('assets/images/partner4.png') }}" height="200" width="250" alt="" />
            </div>

            <div class="slide">
                <img src="{{ asset('assets/images/partner1.png') }}" height="200" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="{{ asset('assets/images/partner2.png') }}" height="200" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="{{ asset('assets/images/partner3.png') }}" height="200" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="{{ asset('assets/images/partner4.png') }}" height="200" width="250" alt="" />
            </div>

        </div>
    </div>
</div>
</div>