<div class="container " style="margin-top:300px">
    <div class="row">
        <div class="col mb-5">
        <h1 class="font-weight-bold">Nos réalisations</h1>
        </div>
    <div class="carousel-wrapper">
        <span id="item-1"></span>
        <span id="item-2"></span>
        <span id="item-3"></span>
        <div class="carousel-i item-1">
            {% for categorys in category|slice(0, 3) %}
                <a href="{{ path('category_read', {id: categorys.id}) }}">
                <div class="carrousel-box">
                    <h2>{{ categorys.name }}</h2>

                    <img class="" alt="Responsive image"
                         src="{{ asset('uploads/' ~ categorys.image.name) }}">
                </div>
                <a class="arrow arrow-prev" href="#item-3"></a>
                <a class="arrow arrow-next" href="#item-2"></a>
                </a>
            {% endfor %}
        </div>

        <div class="carousel-i item-2">
            {% for categorys in category|slice(3, 3) %}
            <a href="#">
                <div class="carrousel-box">
                    <h2>{{ categorys.name }}</h2>
                    <img class="" alt="Responsive image"
                         src="{{ asset('uploads/' ~ categorys.image.name) }}">
                </div>
                <a class="arrow arrow-prev" href="#item-1"></a>
                <a class="arrow arrow-next" href="#item-3"></a>
            </a>
            {% endfor %}
        </div>
        <div class="carousel-i item-3">
            {% for categorys in category|slice(6, 3) %}
            <a href="#">
                <div class="carrousel-box">
                    <h2>{{ categorys.name }}</h2>
                    <img class="" alt="Responsive image"
                         src="{{ asset('uploads/' ~ categorys.image.name) }}">
                </div>
                <a class="arrow arrow-prev" href="#item-2"></a>
                <a class="arrow arrow-next" href="#item-1"></a>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
</div>



