<main>

        <div class="service_box">
                <h1 class="service_title">Réaliser votre projet <br> n'a jamais été aussi simple</h1>
                <img class="" alt="Responsive image, photo 1 services"
                        src="{{ asset('assets/images/img1.png') }}">
                <img class="" alt="Responsive image, photo 2 services"
                        src="{{ asset('assets/images/img2.png') }}">
                <img class="" alt="Responsive image, photo 3 services"
                        src="{{ asset('assets/images/img3.png') }}">
                <img class="" alt="Responsive image, photo 4 services"
                        src="{{ asset('assets/images/img4.png') }}">
        </div>
        <div class="service_box2">
                <img class="" alt="Responsive image, photo 1 services"
                     src="{{ asset('assets/images/agrandissement.png') }}">
                <img class="" alt="Responsive image, photo 2 services"
                     src="{{ asset('assets/images/creation.png') }}">
                <img class="" alt="Responsive image, photo 3 services"
                     src="{{ asset('assets/images/renovation.png') }}">
                <img class="" alt="Responsive image, photo 4 services"
                     src="{{ asset('assets/images/optimisation-aménagement-espace.png') }}">
        </div>
