<div class="container">
<div class="service_box2">
    <div class="service_box-content">
        <img class="service_box-img" alt="Responsive image, photo 1 services"
             src="{{ asset('assets/images/agrandissement.png') }}"> <br>
        <h2 class="service_box-content-title">Rénovation</h2>  <br>
        <p class="service_box-content-p">Une rénovation bien pensée rendra votre logement confortable et économe.</p>
        <a class="service_box-content-link" href="{{ path('category') }}">Nos réalisations <img src="{{ asset('assets/images/fleche.png') }}" alt=""></a>
    </div>
    <div class="service_box-content">
        <img class="service_box-img" alt="Responsive image, photo 2 services"
             src="{{ asset('assets/images/creation.png') }}"> <br>
        <h2 class="service_box-content-title"> Agrandissement</h2> <br>
        <p class="service_box-content-p"> Gagner de l’espace en augmentant les surfaces : Notre spécialité.</p>
        <a class="service_box-content-link" href="{{ path('category') }}">Nos réalisations <img src="{{ asset('assets/images/fleche.png') }}" alt=""></a>
    </div>
    <div class="service_box-content">
        <img class="service_box-img" alt="Responsive image, photo 3 services"
             src="{{ asset('assets/images/renovation.png') }}"> <br>
        <h2 class="service_box-content-title"> Création</h2> <br>
        <p class="service_box-content-p"> Ecouter vos attentes, définir vos besoins, les analyser, réfléchir ensemble et créer.</p>
        <a class="service_box-content-link" href="{{ path('category') }}">Nos réalisations <img src="{{ asset('assets/images/fleche.png') }}" alt=""></a>
    </div>
    <div class="service_box-content">
        <img class="service_box-img" alt="Responsive image, photo 4 services"
             src="{{ asset('assets/images/optimisation-aménagement-espace.png') }}"> <br>
        <h2 class="service_box-content-title"> Optimisation/<br>Aménagement</h2>  <br>
        <p class="service_box-content-p">  Optimiser l’espace et le rendre fonctionnel ? Conseil et expérience feront la différence.</p>
        <a class="service_box-content-link" href="{{ path('category') }}">Nos réalisations <img src="{{ asset('assets/images/fleche.png') }}" alt=""></a>
    </div>
</div>
</div>