<div class="container">
<div class="service_box2">
    <div class="service_box-content">
        <img class="service_box-img" alt="Responsive image, photo 1 services"
             src="{{ asset('assets/images/agrandissement.png') }}"> <br>
        <h2 class="service_box-content-title">Rénovation</h2>  <br>
        <p class="service_box-content-p">Une rénovation bien pensée afin d'améliorer votre bien-être et le confort de votre logement.</p>
        <a class="service_box-content-link" href="{{ path('category') }}">Nos réalisations <img src="{{ asset('assets/images/fleche.png') }}" alt=""></a>
    </div>
    <div class="service_box-content">
        <img class="service_box-img" alt="Responsive image, photo 2 services"
             src="{{ asset('assets/images/creation.png') }}"> <br>
        <h2 class="service_box-content-title"> Agrandissement</h2> <br>
        <p class="service_box-content-p"> Gagner de l'espace ou augmenter votre surface. Etendre les murs de votre maison.</p>
        <a class="service_box-content-link" href="{{ path('category') }}">Nos réalisations <img src="{{ asset('assets/images/fleche.png') }}" alt=""></a>
    </div>
    <div class="service_box-content">
        <img class="service_box-img" alt="Responsive image, photo 3 services"
             src="{{ asset('assets/images/renovation.png') }}"> <br>
        <h2 class="service_box-content-title"> Création</h2> <br>
        <p class="service_box-content-p"> Des idées de travaux pour votre maison ? nous réfléchirons ensemble sur les possibilités.</p>
        <a class="service_box-content-link" href="{{ path('category') }}">Nos réalisations <img src="{{ asset('assets/images/fleche.png') }}" alt=""></a>
    </div>
    <div class="service_box-content">
        <img class="service_box-img" alt="Responsive image, photo 4 services"
             src="{{ asset('assets/images/optimisation-aménagement-espace.png') }}"> <br>
        <h2 class="service_box-content-title"> Optimisation/Aménagement</h2>  <br>
        <p class="service_box-content-p">  Optimiser l'espace de votre bien au maximum. Nos conseils et vos idées pour le réaliser.</p>
        <a class="service_box-content-link" href="{{ path('category') }}">Nos réalisations <img src="{{ asset('assets/images/fleche.png') }}" alt=""></a>
    </div>
</div>
</div>