<div class="team_container">
    <div class="team_box">
        <div class="team_img">
            <img class="shape_img" alt="Responsive image, équipe"
                 src="{{ asset('assets/images/Shape.png') }}">
            <img class="worker_img" alt="Responsive image, équipe"
                 src="{{ asset('assets/images/worker.png') }}">
        </div>
        <div class="team_text">
                <div class="service_box2">
                    <div class="service_box-content">
                    <img class="" alt="Responsive image, photo 1 services"
                         src="{{ asset('assets/images/agrandissement.png') }}"> <br>
                       <h2 class="service_box-content-title">Rénovation</h2>  <br>
                        <p class="service_box-content-p">Une rénovation bien pensée afin d'améliorer votre bien-être et le confort de votre logement</p>
                    </div>
                    <div class="service_box-content">
                    <img class="" alt="Responsive image, photo 2 services"
                         src="{{ asset('assets/images/creation.png') }}"> <br>
                        <h2 class="service_box-content-title"> Agrandissement</h2> <br>
                        <p class="service_box-content-p"> gagner de l'espace ou augmenter votre surface. Etendre les murs de votre maison!</p>
                    </div>
                    <div class="service_box-content">
                    <img class="" alt="Responsive image, photo 3 services"
                         src="{{ asset('assets/images/renovation.png') }}"> <br>
                        <h2 class="service_box-content-title"> Création</h2> <br>
                        <p class="service_box-content-p"> Des idées de travaux pour votre maison? nous réfléchirons ensemble sur les posibilités.</p>
                    </div>
                    <div class="service_box-content">
                    <img class="" alt="Responsive image, photo 4 services"
                         src="{{ asset('assets/images/optimisation-aménagement-espace.png') }}"> <br>
                        <h2 class="service_box-content-title"> Optimisation/Aménagement</h2>  <br>
                        <p class="service_box-content-p">  Optimiser l'espace de votre bien au maximum.Nos conseils et vos idées pour le réaliser.</p>
                </div>
                </div>
                <h1>Une équipe de passionés</h1>
                <p class="p_text">Compétences et communication sont les maîtres-mots de notre réussite. C'est de votre écoute que naît la réflexion et de l'échange de compétences que se bâtis un projet.
                Quelques soient votre projet, notre équipe trouvera est adaptera les solutions spécifiques à vos besoins.</p>
                <div class="puce_box">
                    <div class="icone_box"><img class="icone_img" alt=""
                              src="{{ asset('assets/images/puce.png') }}"></div>
                    <div class="ul_box p_text"><ul>Compétences</ul>
                        <ul>Communication</ul>
                        <ul>Qualité</ul></div>
                    <div class="icone_box"><img class="icone_img" alt=""
                              src="{{ asset('assets/images/puce.png') }}"></div>
                    <div class="ul_box p_text"><ul>Passionnés</ul>
                        <ul>Qualifiés</ul>
                        <ul>Innovant</ul></div>

                </div>
                <p class="p_text"> Nous sommes qualifiés
                    <a href="">Handibat </a> et pouvons de ce fait vous conseiller et réaliser les aménagements personnalisés d'accés ou de confort de vie pour toute personne souffrant d'une perte de mobilité permanente, passagère ou évolutive.</p>
            </div>
    </div>

</div>

