{% extends 'base.html.twig' %}

{% block title %}page des partenaires{% endblock %}

{% block body %}
    {% include'home/header.html.twig' %}
    <div class="card-panel hoverable" style="margin-top:200px">
        <div class="container">
                <section class="grayscale">
                    <div class="row">
                        {% for partners in partner %}
                        <div class="col s4 box_page_partner">
                            <a href="{{ partners.link }}" target="_blank">
                                <img class="" src="{{ asset('uploads/' ~ partners.image.name|default('undefined'))|imagine_filter('image_partner') }}" alt="">
                            </a>
                            <div class="">
                                <a href="{{ partners.link }}" target="_blank">{{ partners.link }}</a> <br>
                            <a href="tel:{{ partners.phone }}" class="mt-4 ">{{ partners.phone }}</a>
                            <p>{{ partners.content }} <br>
                                {% if partners.activityOne is null %}
                        {% else %}
                                - {{ partners.activityOne }} <br>
                                {% endif %}
                                {% if partners.activityTwo is null %}
                        {% else %}
                            - {{ partners.activityTwo }} <br>
                                {% endif %}
                                {% if partners.activityThree is null %}
                        {% else %}
                            - {{ partners.activityThree }}
                                {% endif %}
                            </p>

                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </section>
        </div>
    </div>
    {% include'home/footer.html.twig' %}
{% endblock %}
