{% extends 'base.html.twig' %}

{% block title %}modifier projet
{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}

    {% include'admin/nav.html.twig' %}
    <a class="link_project" href="{{ path('admin_project_home') }}">
        <img class="avatar_project" src="{{ asset('assets/images/return.png') }}">Retour à la liste</a>
    <h1>Modifier le projet</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
                <div class="container_project_img">
                    {% for images in project.image %}
                        <div class="row_project_img">
                            <img src="{{ asset('uploads/' ~ images.name|default('undefined'))|imagine_filter('image_project') }}" alt="image">
                           <a href="{{ path('admin_project_delete_image', {'id': images.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ images.id) }}">supprimer</a>
                        </div>
                    {% endfor %}
                </div>
    <div class="container_project_img">

            <div class="row_project_img">
                <h2>avant:</h2>
                {% if project.imageBefore is null %}
                    {% else %}
                        <img class="responsive-img" src="{{ asset('uploads/' ~ project.imageBefore.name|default('undefined'))|imagine_filter('image_project_two') }}" alt="image">
                        <a href="{{ path('admin_project_delete_image_before', {'id': project.imageBefore.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ project.imageBefore.id) }}">supprimer</a>
                {% endif %}

            </div>
        <div class="row_project_img">
            <h2>après:</h2>
            {% if project.imageAfter is null %}
            {% else %}
                <img class="responsive-img" src="{{ asset('uploads/' ~ project.imageAfter.name|default('undefined'))|imagine_filter('image_project_two') }}" alt="image">
            <a href="{{ path('admin_project_delete_image_after', {'id': project.imageAfter.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ project.imageAfter.id) }}">supprimer</a>
            {% endif %}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

