{% extends 'base.html.twig' %}

{% block title %}les projets
{% endblock %}

{% block body %}
    {% include'admin/nav.html.twig' %}
    <h1>Gérer les projets</h1>
    <a href="{{ path('admin_project_add') }}">Ajouter un projet <i class="fa fa-plus-square"></i></a>
    <table class="table striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Photos</th>
            <th>Date de création</th>
            <th>classer dans la catégorie</th>

        </tr>
        </thead>
        <tbody>
        {% for projects in project %}
            <tr>
                <td>{{projects.id}}</td>
                <td> <a href="{{ path('admin_project_read', {id: projects.id}) }}">{{projects.title}}</a></td>
                <td>{{projects.content| slice(0, 60)}} ...</td>
                <td>{{projects.image.name}}</td>
                <td>{{projects.createdAt|date('Y-m-d')}}</td>
                <td>{{projects.category.name}}</td>

                <td class="text-center">
                    <a href="{{ path('admin_project_add') }}" class="btn btn-link">
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                    <a href="{{ path('admin_project_edit', {id: projects.id}) }}" class="btn btn-link">
                        <i class="fa fa-edit fa-2x"></i>
                    </a>
                    <form action="{{ path('admin_project_delete', {id: projects.id}) }}" method="post" class="d-inline">
                        <input type="hidden" name="_method" value="DELETE" />
                        <button class="btn btn-link fa fa-trash fa-2x"></button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}



