{% extends 'base.html.twig' %}

{% block title %}voir le projet
{% endblock %}
{% block body %}
    {% include'admin/nav.html.twig' %}
    {% for message in app.flashes('messagetwo') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
    <a class="link_project" href="{{ path('admin_project_home') }}">
        <img class="avatar_project" src="{{ asset('assets/images/return.png') }}">Retour à la liste</a>
    <div class="container_project_read">
        <div class="row_project_read">
            <div class="box-project_read_content"><h3 class="box-project_read_content_title">Nom du projet</h3>
                <p>{{ project.title }}</p></div>
            <div class="box-project_read_content"><h3 class="box-project_read_content_title">Description du projet</h3>
                <p>{{ project.content }} </p></div>
            <div class="box-project_read_content"><h3 class="box-project_read_content_title">Date de création</h3>
                <p>créer le {{ project.CreatedAt|date('Y-m-d') }}</p></div>
        </div>
        <div class="container_project_img">
            {% for images in project.image %}
                <div class="row_project_img">
                    <img src="{{ asset('uploads/' ~ images.name) }}" alt="">

                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}